body{
	margin:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#FFFFFF;
	padding-left:20px;
}

p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#FFFFFF;
}

h1{
	font-size:14pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#65847B;
	text-align: center;
}

h2{
	font-size:12pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#541805;
}

h3{
	font-size:11pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#541805;
}

h4{
	font-size:11pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#ffffff;
}

.firescope_grid .sort-asc {
	background: #D9DFD9 url('resources/sort-asc.png') no-repeat bottom right;
	cursor: pointer;
	padding: 0px 4px 2px 2px;	
}
.firescope_grid .sort-desc {
	background: #D9DFD9 url('resources/sort-desc.png') no-repeat bottom right;
	cursor: pointer;
	padding: 0px 4px 2px 2px;	
}
.firescope_grid .sort-none {
	background: #DDD url('resources/sort-none.png') no-repeat bottom right;
	cursor: pointer;
	padding: 0px 4px 2px 2px;	
}
.firescope_grid .sort-sorting {
	background: #DDD url('resources/load.gif') no-repeat bottom right;
	cursor: pointer;
	padding: 0px 4px 2px 2px;		
}

.firescope_grid .help {
	background: url('resources/help_icon.png') no-repeat center center;
	cursor: pointer;
	border: 0px;	
	width: 20px;
	height: 20px;	
}
.firescope_grid .nav-first {
	background: url('resources/first.png') no-repeat center center;
	cursor: pointer;
	border: 0px;	
	width: 30px;
	height: 20px;	
}
.firescope_grid .nav-prev {
	background: url('resources/prev.png') no-repeat center center;
	cursor: pointer;
	border: 0px;	
	width: 30px;	
	height: 20px;
}
.firescope_grid .nav-next {
	background: url('resources/next.png') no-repeat center center;
	cursor: pointer;
	border: 0px;
	width: 30px;
	height: 20px;
}
.firescope_grid .nav-last {
	background: url('resources/last.png') no-repeat center center;
	cursor: pointer;
	border: 0px;	
	width: 30px;	
	height: 20px;
}
.firescope_grid .nav-disabled {
	opacity:0.40;
}
.firescope_grid .nav-reload {
	background: url('resources/load.png') no-repeat center center;
	cursor: pointer;
	border: 0px;	
	width: 30px;
	height: 20px;	
}
.firescope_grid .loading {
	background: url('resources/load.gif') no-repeat center center;
	cursor: pointer;
	border: 0px;
	width: 30px;
	height: 20px;		
}
.firescope_grid .nav-loading {
	background-color: #F3F7F3;	
}
.firescope_grid .grid-split {
	background: url('resources/grid-split.gif') no-repeat center center;
	padding: 0px 6px 2px 6px;
	width: 10px;	
}			
.firescope_grid .nav-toolbar {
	font-size: 10px;
	font-family: Verdana,Helvetica,Geneva;
	margin-top: 10px;
}
.firescope_grid .nav-toolbar select:hover, .firescope_grid .nav-toolbar input:hover, .firescope_grid .nav-toolbar select:focus, .firescope_grid .nav-toolbar input:focus {
	background-color: #FFC;
}

.firescope_grid .nav-rows, .firescope_grid .nav-refresh {
	text-align: right;
	border: 1px solid #BCCCE1;
	margin: 0px 0px 0px 4px;
	font-size: 10px;
	font-family: Verdana,Helvetica,Geneva;	
}
.firescope_grid .nav-rows:hover, .firescope_grid .nav-rows:focus {
	background-color: #FFC;
}
.firescope_grid .nav-page {

}
.firescope_grid .nav-page-input {
	text-align: right;
	width: 25px;
	padding-bottom: 2px;
	margin-bottom: 0px;
	font-size: 10px;
	font-family: Verdana,Helvetica,Geneva;		
}
.firescope_grid .nav-page-input:hover, .firescope_grid .nav-page-input:focus {
	background-color: #FFC;
}
.firescope_grid .nav-status {

}

.firescope_grid .filter-active {
	width: 96%;
	color: #686;
	font-size: 10px;
	font-family: Verdana,Helvetica,Geneva;			
}
.firescope_grid .filter-inactive {
	width: 96%;
	color: #AAA;
	font-size: 10px;
	font-family: Verdana,Helvetica,Geneva;			
}
.firescope_grid .filter-filtering {
	background: url('resources/load.gif') no-repeat center right;
	color: #686;
	background-color: #FFF;
}

.firescope_grid .no_results {
	font-size: 8pt;
	text-align: center;
}

.firescope_grid table {
	width: 100%;
	border-spacing: 0;
}
.firescope_grid table td {
	border: 1px solid #777;
}

.firescope_grid .scrollable { 
height: 50px; 
overflow: auto; 
}
